.App {
  text-align: center;
}

table{
  border: 1px solid white;
 width: 800px;
 margin-top: 20px;
}
th{
  background-color:turquoise !important;
  border: 1px solid white;
  font-size: 15px;
 
}
td{
  background-color: lightblue!important;
  border: 1px solid white;
}
.nav-item .nav-link{
  color: blue;
}
