.App {
  text-align: center;
}

.antd table{
  border: 1px solid white;
 margin-top: 20px;
}
.antd th{
  background-color:turquoise !important;
  border: 1px solid white;
  font-size: 15px;
 
}
.antd td{
  background-color: lightblue!important;
  border: 1px solid white;
}
.nav-item .nav-link{
  color: blue;
}
.a{
  text-decoration: none;
}
.a:hover{
  color: blanchedalmond;
}
